<style>
    .col-md-12{
        background-color: red;

    }
    .col-md-6{
        background-color: #6be5da;
    }
    .col-6{
        background-color: gold;
    }

    .col-md-4{
        background-color: #ffffff;
    }
    .col-lg-4{
        background-color: #002480;
        color:white;
    }
    .col-lg-8{
        background-color: #f55e00 !important;
        color:white;
    }

    .colx{
        height:50px !important;
    }
</style>
<h1 class="text-black text-center">Grids</h1>
<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4 colx">col-sm-3 col-md-6 col-lg-4</div>
  <div class="col-sm-9 col-md-6 col-lg-8 colx" style="background-color: deeppink">col-sm-9 col-md-6 col-lg- aaaaaaa</div>
</div>

<div class="row">



  <div class="col-lg-12  col-md-4 colx" style="background-color: deeppink">col-lg-12  col-md-4</div>



  <div class="col-lg-6 col-md-4 colx" style="background-color: gold">col-lg-6 col-md-4 xxx</div>

</div>
<div class="row">
  <div class="col-md-6 colx">xxxxxxxxxx

  </div>

  <div class="col-md-6 colx">fffffffff

  </div>
</div>

<div class="row">
  <div class="col-md-6 colx">

  </div>
  <div class="col-md-6 colx">

  </div>
</div>

