
<link rel="stylesheet" href="/css/testblu.css">

<style>
    .video {
        position: fixed;
        top: 50%; left: 50%;
        z-index: -100;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
        filter: opacity(0.7);
    }
</style>
<div id='hint' style="width:100%;height:auto;">
  <%= video_tag "/video/pexels1.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
  <div style="z-index: 1">
    <div id="GamesGrid" class="container pt-5">
      <div class="row no-gutters d-flex justify-content-around align-items-center text-center mt-5">

        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./video" title="Pokémon" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 273px; height: 140px; background-image: url('/images/games.png'); background-position: -1228px -0px;" class="icon game-sprite"></span></a>
        </div>

        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./video" title="Magic: The Gathering" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 408px; height: 140px; background-image: url('/images/games.png'); background-position: -0px -0px;" class="icon game-sprite"></span></a>
        </div>


        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./video" title="One Piece" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 482px; height: 140px; background-image: url('/images/games.png'); background-position: -4552px -0px;" class="icon game-sprite"></span></a>
        </div>

        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./video" title="Yu-Gi-Oh!" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 392px; height: 140px; background-image: url('/images/games.png'); background-position: -696px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="Flesh And Blood" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 275px; height: 140px; background-image: url('/images/games.png'); background-position: -3795px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="Dragon Ball Super" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 285px; height: 140px; background-image: url('/images/games.png'); background-position: -3295px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="Final Fantasy TCG" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 272px; height: 140px; background-image: url('/images/games.png'); background-position: -2303px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="Lorcana" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 323px; height: 140px; background-image: url('/images/games.png'); background-position: -5034px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="Force of Will" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 482px; height: 140px; background-image: url('/images/games.png'); background-position: -1501px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="Digimon" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 482px; height: 140px; background-image: url('/images/games.png'); background-position: -4070px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="Battle Spirits Saga" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 345px; height: 140px; background-image: url('/images/games.png'); background-position: -5357px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="Weiß Schwarz" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 285px; height: 140px; background-image: url('/images/games.png'); background-position: -2575px -0px;" class="icon game-sprite"></span></a>
        </div>


        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="Star Wars: Destiny" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 215px; height: 140px; background-image: url('/images/games.png'); background-position: -3580px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="Dragoborne" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 298px; height: 140px; background-image: url('/images/games.png'); background-position: -2860px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="My Little Pony CCG" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 137px; height: 140px; background-image: url('/images/games.png'); background-position: -3158px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="The Spoils" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 140px; height: 140px; background-image: url('/images/games.png'); background-position: -1088px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="Cardfight!! Vanguard" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 320px; height: 140px; background-image: url('/images/games.png'); background-position: -1983px -0px;" class="icon game-sprite"></span></a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 p-1">
          <a href="./about" title="World of Warcraft TCG" class="sprite-link py-md-4 position-relative"><span style="display: inline-block; width: 288px; height: 140px; background-image: url('/images/games.png'); background-position: -408px -0px;" class="icon game-sprite"></span></a>
        </div>
      </div>
    </div>

  </div>

</div>
